:root {
    --project-card-overlay: rgba(0, 0, 0, 0.5);
    --project-card-overlay-hover: rgba(0, 0, 0, 0.7);
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* --------------- Header --------------- */

header, footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 2px 2px 7px black;
}

.header-text {
    color: white;
    font-size: 1.5em;
}

/* --------------- Parallax Sections --------------- */

.parallax-section {
    min-height: 80vh;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
}

.break {
    background-color: #333;
    height: 20px;
    width: 100%;
}

#section1 {
    background-image: url('https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png');
    /* background-color: #FFCCCC; */
}

#section2 {
    background-image: url('https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png');
    /* background-color: #B0E57C; */
}

#section3 {
    background-image: url('https://coolbackgrounds.io/images/backgrounds/blue/blue-trianglify-8e4a0501.jpg');
    /* background-color: #AED6F1; */
}

.section-content {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    font-size: 1.5em;
    flex: 1;
    /* background-color: rgba(255, 255, 255, 0.3); */
}

.section-content:last-child {
    padding-bottom: 50px;
}

.section-content h2 {
    font-size: 2em;
}


/* --------------- Project Cards --------------- */

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.project-card {
    margin: 10px 0;
    text-decoration: none;
}

.project-card:hover .overlay {
    background: var(--project-card-overlay-hover);
    border: 4px solid white;
}

.project-card .overlay {
    width: 80%;
    margin: 0 auto;
    border: 4px solid transparent;
    box-shadow: 4px 4px 8px black;
    background: var(--project-card-overlay);
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
}

/* --------------- Footer --------------- */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
}