:root {
    --project-card-overlay: rgba(0, 0, 0, 0.5);
    --project-card-overlay-hover: rgba(0, 0, 0, 0.7);
}

html {
    height: 100%;
    background-color: #444;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ----------------------------------------- */
/* HEADING */
/* ----------------------------------------- */

header, footer {
    background-color: #444;
    color: #fff;
    padding-bottom: 20px;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
    border: 4px solid white;
    box-shadow: 2px 2px 7px black;
} */

.header-text {
    color: white;
    font-size: 1.5em;
}

/* ----------------------------------------- */
/* PARALLAX SECTIONS */
/* ----------------------------------------- */

.picture {
    width: 50%;
    height: auto;
    border-radius: 10%;
    border: 5px solid white;
    box-shadow: 4px 4px 8px black;
}

.parallax-section {
    min-height: 100vh;
    overflow: hidden;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
}

.break {
    background-color: #444;
    height: 20px;
    width: 100%;
}

#sectionBG1 {
    background-image: url('/images/bg1-small.png');
}

#sectionBG2 {
    background-image: url('/images/bg2-small.png');
}

#sectionBG3 {
    background-image: url('/images/bg3-small.jpeg');
}

/* ----------------------------------------- */
/* DARK MODE TOGGLE */
/* ----------------------------------------- */

#dark-mode-toggle {
    position: fixed;
    top: 1%;
    right: -1%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: black;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px black;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* ----------------------------------------- */
/* DARK MODE STYLES */
/* ----------------------------------------- */

html.dark {
    background-color: #222;
}

main.dark #sectionBG1 {
    background-image: url('/images/purple-small.png');
}

main.dark #sectionBG2 {
    background-image: url('/images/green-small.png');
}

main.dark #sectionBG3 {
    background-image: url('/images/red-small.jpg');
}

main.dark .parallax-section .section-content .picture{
    border: 5px solid #7851CF;
}

main.dark .parallax-section .section-content .heading, 
main.dark .parallax-section .section-content .text {
    color: lightgrey;
}

main.dark .parallax-section .section-content #grid .project-card .overlay {
    background: rgba(255, 255, 255, .5);
    color: #333;
}

main.dark .parallax-section .section-content #grid .project-card:hover .overlay {
    border: 4px solid red;
    background: rgba(255, 255, 255, .7);
}

header.dark,
footer.dark,
main.dark .break{
    background-color: #222;
}

/* ----------------------------------------- */
/* SECTION STYLES */
/* ----------------------------------------- */

#about, #projects, #change-me {
    width: 90%;
    margin: 0 auto;
    font-size: 1.5em;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#change-me {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#about .heading {
    text-align: center;
}

#projects {
    text-align: center;
    flex: 1;
}

.section-content {
    /* background-color: rgba(255, 255, 255, 0.2); */
    padding: 50px 0;
}

.section-content h2 {
    font-size: 1.5em;
}

.text {
    width: 90%;
    margin: 0 auto;
    font-size: .8em;
}

/* ----------------------------------------- */
/* PROJECT CARDS */
/* ----------------------------------------- */

#grid {
    display: flex;
    flex-direction: column;
}

.project-card {
    margin: 10px 0;
    text-decoration: none;
}

.project-card:hover .overlay {
    background: var(--project-card-overlay-hover);
    border: 4px solid #2196F3;
}

.project-card .overlay {
    width: 80%;
    margin: 0 auto;
    border: 4px solid transparent;
    box-shadow: 4px 4px 8px black;
    background: var(--project-card-overlay);
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
}

/* ----------------------------------------- */
/* FOOTER */
/* ----------------------------------------- */

footer {
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    padding-top: 20px;
}