@media screen and (min-width: 32em) {
    
    /* .profile-picture {
        transition: all 0.5s ease;
    }

    .profile-picture:hover {
        transform: scale(1.1);
    } */

    #dark-mode-toggle {
        top: 5%;
        right: -1%;
        padding: 10px 25px 10px 15px;
    }

    #about .text {
        width: 80%;
        text-align: left;
    }

    .picture {
        width: 400px;
        height: auto;
        margin-left: 50px;
        transition: all 0.5s ease;
    }

    .picture:hover {
        transform: scale(1.05);
    }

    .section-content h2 {
        margin-top: 0;
        font-size: 2em;
    }

    .text {
        width: 90%;
        margin: 0 auto;
        font-size: 1.2em;
    }
    
    #about {
        flex-direction: row;
    }

    .project-card:hover .overlay {
        transform: scale(1.1);
    }
    
    .project-card .overlay {
        width: 380px;
        padding: 20px 0;
        font-size: 2em;
        transition: all 0.5s ease;
    }



}