@media screen and (min-width: 32em) {
    
    /* .profile-picture {
        transition: all 0.5s ease;
    }

    .profile-picture:hover {
        transform: scale(1.1);
    } */

    #dark-mode-toggle {
        top: 5%;
        right: -1%;
        padding: 10px 25px 10px 15px;
    }

    .parallax-section {
        background-attachment: fixed;
    }

    #sectionBG1 {
        background-image: url('/images/bg1.png');
    }
    
    #sectionBG2 {
        background-image: url('/images/bg2.png');
    }
    
    #sectionBG3 {
        background-image: url('/images/bg3.jpeg');
    }

    main.dark #sectionBG1 {
        background-image: url('/images/purple.png');
    }
    
    main.dark #sectionBG2 {
        background-image: url('/images/green.png');
    }
    
    main.dark #sectionBG3 {
        background-image: url('/images/red.jpg');
    }

    #about .text {
        width: 80%;
        text-align: left;
    }

    .picture {
        width: 400px;
        height: auto;
        margin-left: 50px;
        transition: all 0.5s ease;
    }

    .picture:hover {
        transform: scale(1.05);
    }

    .section-content h2 {
        margin-top: 0;
        font-size: 2em;
    }

    .text {
        width: 90%;
        margin: 0 auto;
        font-size: 1.2em;
    }
    
    #about {
        flex-direction: row;
    }

    #grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    .project-card:hover .overlay {
        transform: scale(1.1);
    }
    
    .project-card .overlay {
        width: 380px;
        padding: 20px 0;
        font-size: 2em;
        transition: all 0.5s ease;
    }



}