@media screen and (min-width: 32em) {
    
    .profile-picture {
        transition: all 0.5s ease;
    }

    .profile-picture:hover {
        transform: scale(1.1);
    }

    .text {
        width: 60%;
    }

    .project-card:hover .overlay {
        box-shadow: 4px 4px 8px white;
        transform: scale(1.1);
    }
    
    .project-card .overlay {
        width: 380px;
        padding: 20px 0;
        font-size: 2em;
        transition: all 0.5s ease;
    }



}